@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

@font-face {
    font-family: 'edukai';
    src: url('../assets/fonts/edukai-fixed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --slidev-theme-primary: #3b82f6;
  --border-blue: #6bbae7;
  --slidev-slide-container-background: black;
  --slidev-theme-font-family-default:
    "edukai", "Noto Sans TC", "Microsoft JhengHei", "MingLiU", sans-serif;
  --slidev-code-font-family: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.slidev-layout {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  @apply text-[3.35rem] whitespace-nowrap overflow-hidden 
  text-ellipsis line-height-none font-bold;
}

h2 {
  @apply text-5xl line-height-relaxed font-bold px-4;
}

h3 {
  @apply text-4xl line-height-relaxed px-4;
}

p {
  @apply text-[1.75rem] line-height-relaxed px-4;
}

a {
  @apply text-sky-600 underline underline-offset-2;
}

a:hover {
  @apply text-blue-800;
}

ol,
ul {
  @apply list-outside text-[1.75rem] line-height-relaxed pl-16;
}

ol ol,
ul ul {
  @apply text-[1.6rem] line-height-relaxed pl-6;
}

ol ol ol,
ul ul ul {
  @apply text[1.45rem] line-height-relaxed pl-6;
}

ol {
  @apply list-decimal;
}

ul > li::marker {
  content: "❖ ";
  @apply text-[1.75rem] line-height-relaxed;
}

ul ul > li::marker {
  content: "➢ ";
  @apply text-[1.6rem] line-height-relaxed;
}

ul ul ul > li::marker {
  content: "◼︎ ";
  @apply text-[1.45rem] line-height-relaxed;
}
